{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{%  url "repos:list" %}">{%  trans "Projects" %}</a></li>
<li class="active">{{ object.english_name }}</li>
{% endblock %}

{% block content %}
<div class="well">
    <center>
        <h3 class="media-heading">{{ object.hebrew_name }} | {{ object.english_name }}</h3>
        (<a href="{% url 'repos:project_update' object.pk %}">Edit</a>)

    </center>
    <hr>
    <p class="text-left"><strong>Description: </strong><br>
        {{object.description}}
    </p>
    {% if object.repos and object.repos.all|length > 0 %}
    <hr>
    <p class="text-left"><strong>Repositories and number of commits: </strong></p>

    {% for repo, commits in repo_commits.items %}
    {% if not repo == 'total_commits' %}
    <div class="panel-group" id="repo-accordion">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#collapseRepo{{forloop.counter}}">
                        {{repo.full_name}}: {{ commits | length}}
                    </a>
                </h4>
            </div>
            <div id="collapseRepo{{forloop.counter}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
                        {%for commit in commits %}
                        <li class="list-group-item">{{commit.message}}</li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}