{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{%  url "users:list" %}">{%  trans "Users" %}</a></li>
<li class="active">{{ object.nick }}</li>
{% endblock %}

{% block content %}
<div class="well">
    <center>
        <img src="{{ object.gravatar_url }}?s=140" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
        <h3 class="media-heading">
            {{ object.nick }}
        </h3>
        <h3 class="media-heading"><small>{{ object.hebrew_name }} | {{ object.english_name }}</small></h3>
        <span><strong>Skills: </strong></span>
        {% for skill in object.skills.all %}
        <a href="{% url 'skill_by_slug' skill.slug %}">
        <span class="label label-info">
        	{{ skill }}
        </span>
        </a> &nbsp;
        {% endfor %}
        {% if user == object %}
          <br><small>(<a href="{% url 'users:user_update' object.nick %}">edit profile</a>)</small>
        {% endif %}
    </center>
    <hr>
    <p class="text-left"><strong>Email: </strong><br>
        <a href="mailto:{{object.email}}"> {{object.email }}</a></p>
        
    <hr>
        <p class="text-left"><strong>Bio: </strong><br>
            {{object.biography }}</p>

    <hr>
        <p class="text-left"><strong>Projects: </strong><br>
        	<ul>
        		{% for project in object.projects.all %}
        		<li><a href="{% url 'repos:project_detail' project.id %}">{{project}}</a></li>
        		{% endfor %}
        	</ul>
        </p>
    
    {% if object.github_username %}
    <hr>
        <p class="text-left"><strong>Github: </strong><br>
            User's Github page: <a href="http://github.com/{{ object.github_username }}" target="_blank">http://github.com/{{ object.github_username }}</a></p>
    {% endif %}
    
    {% if object.github_username and object.authored_commits.all|length > 0 %}
    <hr>
    <p class="text-left"><strong>Code Contributions: </strong></p>

    <div class="panel-group" id="all-accordion">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="" href="#collapseAll">
                        <strong>Total Commits:</strong> {{total_commits}}
                    </a>
                </h4>
            </div>
            <div id="collapseAll" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% for project, repo_commits in project_repo_commits.items %}
                    <div class="panel-group" id="project-accordion{{forloop.counter}}">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="#collapseProject{{forloop.counter}}">
                                        {{project.english_name}}: {{ repo_commits.total_commits}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseProject{{forloop.counter}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% for repo, commits in repo_commits.items %}
                                    {% if not repo == 'total_commits' %}
                                    <div class="panel-group" id="repo-accordion">
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#" href="#collapseRepo{{forloop.parentloop.counter}}{{forloop.counter}}">
                                                        {{repo.full_name}}: {{ commits | length}}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseRepo{{forloop.parentloop.counter}}{{forloop.counter}}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="list-group">
                                                        {%for commit in commits %}
                                                        <li class="list-group-item">{{commit.message}}</li>
                                                        {%endfor%}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    {% endif %}
</div>
{% endblock %}