{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{%  url "users:list" %}">{%  trans "Users" %}</a></li>
<li class="active">{{ object.nick }}</li>
{% endblock %}

{% block content %}
<div class="well">
    <center>
        <img src="{{ object.gravatar_url }}?s=140" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
        <h3 class="media-heading">{{ object.nick }}</h3>
        <h3 class="media-heading"><small>{{ object.hebrew_name }} | {{ object.english_name }}</small></h3>
        <span><strong>Skills: </strong></span>
        <span class="label label-warning">HTML5/CSS</span>
        <span class="label label-info">Adobe CS 5.5</span>
        <span class="label label-info">Microsoft Office</span>
        <span class="label label-success">Windows XP, Vista, 7</span>
    </center>
    <hr>
    <p class="text-left"><strong>Email: </strong><br>
        <a href="mailto:{{object.email}}"> {{object.email }}</a></p>
    <hr>
    <center>
        <p class="text-left"><strong>Bio: </strong><br>
            {{object.biography }}</p>
    </center>

    {% if object.github_username and object.authored_commits.all|length > 0 %}
    <hr>
    <p class="text-left"><strong>Code Contributions: </strong></p>

    <div class="panel-group" id="accordion">
        {% for repo, commits in repo_user_commits.items %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        {{repo.full_name}}: {{commits | length}}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Total Commits:</strong> {{total_commits}}</li>
                        {%for commit in commits %}
                        <li class="list-group-item">{{commit.message}}</li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    {% endif %}
</div>



{% endblock %}